nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  background: #1C6DD0;
  transition: top 0.3s;

  h1 {
    color: #fff;
    span {
      font-size: 30px;
      color: #004599;
    }
  }

  ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 550;
    }
  }
}