nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  background: #F675A8;

  ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
}