*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;;
}

body{
  background: #554994;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
